@model Character
@{
    ViewData["Title"] = "Add To Queue";
}

<div class="text-center">
    <h1 class="display-4">Add to Priority Queue</h1>
</div>
<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="SelectChar">Character:</label>
        <span asp-validation-for="SelectChar" class="text-danger"></span>
        <select asp-for="SelectChar" class="form-control input-validation-error"
                asp-items="@(new SelectList(ViewBag.Characters, "Name", "Name"))">
            <option value=""/>
        </select>
    </div>

    <div class="col-sm-6">
        <label asp-for="Priority">Priority:</label>
        <span asp-validation-for="Priority" class="text-danger"></span>
        <input type="text" asp-for="Priority" class="form-control input-validation-error">
    </div>

    <div class ="col-sm-6">
    <button type="submit" class="btn btn-primary">Enqueue</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
    </div>
</form>