@{
    ViewData["Title"] = "Queue";
}

<div class="text-center">
    <h1 class="display-4">Priority Queue Creator</h1>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Image</th>
            <th>Name</th>
            <th>Vision</th>
            <th>Weapon</th>
            <th>Last Seen</th>
            <th>Region</th>
        </tr>
    </thead>
</table>